version: "2"
services:

  frontend:
    build: ./frontend
    links:
      - app
    ports:
      - "3001:8080"
    healthcheck:
      test: curl --fail -s http://localhost:8080/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
    networks:
      - frontend
      

  app:
    build: ./app
    links:
      - db
    ports:
      - "5000:5000"
    healthcheck:
      test: curl --fail -s http://localhost:5000/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
    networks:
      - frontend
      - backend

  db:
    image: mysql:5.7
    ports:
      - "32000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: newuser 
      MYSQL_PASSWORD: newpassword
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
      - .:/app
    healthcheck:
      test: curl --fail -s http://localhost:3306/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
    networks:
      - backend
    
  tests:
    build: ./app
    links:
      - db
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
      - .:/app
    command: ["pytest","./app/tests/test.py"]
    networks:
      - backend
    
networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge