{% extends 'layout.html' %}
{% block content %}
<div class="w3-card-4 w3-center ">

    <header class="w3-container w3-blue">
        <h1>Dashboard</h1>
    </header>

    <div class="w3-container">
        <table class="w3-table w3-centered">
            <tr>
                <th>
                    <div class="w3-card-4 w3-margin-bottom">

                        <header class="w3-container w3-light-grey">
                            <h3>Liste des mangas</h3>
                        </header>

                        <div class="w3-container">
                            <img src="https://thumbs.dreamstime.com/b/comics-manga-black-line-icon-medium-used-to-express-ideas-images-often-combined-text-pictogram-web-page-179409003.jpg" alt="Avatar" class="w3-left w3-circle" width="100" height="100">
                            <p>Gestion des mangas</p>
                        </div>

                        <a href="/mangas" class="w3-button w3-block w3-dark-grey">Voir</a>
                    </div>
                    </th>
                    <th>
                    <div class="w3-card-4 w3-margin-bottom">
                        <header class="w3-container w3-light-grey">
                            <h3>Liste des utilisateurs</h3>
                        </header>
                        <div class="w3-container">
                            <img src="https://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/512/users-icon.png" alt="Avatar" class="w3-left w3-circle" width="100" height="100">
                            <p>Gestion des utilisateurs</p>
                        </div>
                        <a href="/users" class="w3-button w3-block w3-dark-grey">Voir</a>
                    </div>
                </th>
            </tr>
        </table>
        <br>
    </div>
    <br>
</div>
{% endblock %}