{% extends 'layout.html' %}
{% block content %}
<div class="container text-center">
    <header class="w3-container w3-blue w3-center">
        <h1>Ajout d'un manga</h1>
    </header>
    <form method="post" action="/manga/create">
        <dl>
            <p>
                Titre : <input name="inputTitle" value="" type="text" placeholder="Titre" required>
            </p>
            <p>
                Image URL : <input name="inputImage" value="" type="text" placeholder="URL Image" required>
            </p>
            <p>
                Auteur : <input name="inputAuteur" value="" type="text" placeholder="Auteur" required>
            </p>
            <p>
                Desription : <input name="inputDescription" value="" type="text" placeholder="Description" required>
            </p>
            <p>
                Année : <input name="inputYear" value="" type="text" placeholder="Année" required>
            </p>
            <p>
                <label class="w3-text-teal"><b>Genre : </b></label>
                <br>
                {% for genre in genres %}
                    <input name="listGenres" type="checkbox"
                            value="{{ genre[0] }}" class="w3-check" />
                    <label text="">{{ genre[1] }}</label>
                    <br>
                {% endfor %}
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</div>
{% endblock %}