{% extends 'layout.html' %}
{% block content %}
        <header class="w3-container w3-blue w3-center">
            <h1>Liste des mangas</h1>
        </header>
        <br>
        <form  action="/mangas" class="w3-container w3-padding-top-32">
            <label class="w3-text-teal"><b>Filtre</b></label>
            <input type="text" name="keyword" id="keyword" size="50" value="" onkeyup="myFunction()">
    
            <input type="button" value="Clear" id="btnClear" class="w3-btn w3-blue-grey" onclick="clearSearch()" />
        </form>
        <br>
        <a  href="/add_manga" class="w3-button w3-circle w3-blue w3-right w3-margin">+</a>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="w3-green">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        <br>
        <table id="myTable" class="w3-table-all w3-card-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Auteur</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d[0] }}</td>
                    <td>{{ d[1] }}</td>
                    <td><img src="{{ d[2] }}" width="75" height="100"></td>
                    <td>{{ d[3] }}</td>
                    <td>{{ d[4] }}</td>
                    <td>{{ d[5] }}</td>
                    <td><a href="/manga/{{d[0]}}" class="w3-button w3-white w3-border w3-border-green w3-round-large">Details</a></td>
                    <td><a href="/manga/delete/{{d[0]}}" class="w3-button w3-white w3-border w3-border-red w3-round-large">Supprimer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            function clearSearch() {
                window.location = "/mangas";
            }
        
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("keyword");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
        
                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }
                }
            }
        </script>
        {% endblock %}
