{% extends 'layout.html' %}
{% block content %}
<div class="container text-center">
    <header class="w3-container w3-blue w3-center">
        <h1>Ajout d'un manga</h1>
    </header>
    <form method="post" action="/manga/update">
        <dl>
            <p>
                Titre : <input name="inputTitle" value="{{ row[1] }}" type="text" placeholder="Titre" required>
            </p>
            <p>
                Image URL : <input name="inputImage" value="{{ row[2] }}" type="text" placeholder="URL Image" required>
            </p>
            <p>
                Auteur : <input name="inputAuteur" value="{{ row[3] }}" type="text" placeholder="Auteur" required>
            </p>
            <p>
                Description : <input name="inputDescription" value="{{ row[4] }}" type="text" placeholder="Description" required>
            </p>
            <p>
                Année : <input name="inputYear" value="{{ row[(5)] }}" type="text" placeholder="Année" required>
            </p>
        </dl>
        <p>
            <input name="id" value="{{ row[0] }}" type="hidden">
            <input type="submit" value="Submit">
        </p>
    </form>
</div>
{% endblock %}