{% extends 'layout.html' %}
{% block content %}

<div class="w3-card-4 w3-padding-top-32 w3-center">
    <a href="/manga/{{row[0]}}">
        <img class="w3-card-4" width="300" height="400"
            src="{{row[2]}}"
        />
    </a>
    <h1><p text="" ></p>{{row[1]}}</h1>
    <p  text="" >Année : {{row[5]}}</p>
    <p class="price">
    <p  text="" >Auteur : {{row[3]}}</p>
    </p>
    <p>
    <h2>Description</h2>
    <p  text="">{{row[4]}}</p>

    <a  href="/update_manga/{{row[0]}}" class="w3-button w3-block w3-dark-grey" >Modifier</a>
</div>
<br>
<div class="w3-card-4 w3-third w3-margin">

    <header class="w3-container w3-light-grey">
        <h3>Genre</h3>
    </header>

    <div class="w3-container">
        <div>
            {% for g in genres %}
                <p  text="">{{g[0]}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="w3-card-4 w3-half w3-right w3-margin">

    <header class="w3-container w3-light-grey">
        <h3>Commentaires</h3>
    </header>

    <div class="w3-container">
        <div class="ui-icon-star">
            {% for r in reviews %}
                <p text="">{{r[2]}}</p>
                <p text="" >Note : {{r[3]}}/5</p>
                <p><a href="/review/delete/{{r[0]}}" class="w3-button w3-red w3-round-large">Supprimer</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}